* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.title {
    text-align: center;
    margin-top: 30px;
}

.form-container {
    width: 900px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.big-cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-box {
    width: 250px;
    height: 250px;
    background-color: tomato;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form-box:hover {
    box-shadow: 0 5px 2px -2px lightblue;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: tomato;
    height: 120px;
}



